Flask==1.1.1
gunicorn==20.0.4
image==1.5.31
imageio==2.5.0
imagesize==1.1.0
json5==0.8.4
jsonschema==3.0.1
matplotlib==3.1.0
networkx==2.3
numpy==1.16.4
numpydoc==0.9.1
pandas==0.24.2
urllib3==1.24.2
